<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>ADD NEW RECIPES</title>
</head>
<body>

<form action="#" th:action="@{/save_note}" th:object="${note}" method="post">
    <input type="hidden" th:field="*{id}">
    <input type="text" th:field="*{recipe.title}" placeholder="Title"><br>
    <input type="text" th:field="*{recipe.descriptionOfPreparation}" placeholder="Description of preparation"><br>
    <input type="text" th:field="*{recipe.preparingTimeInMinutes}" placeholder="Preparation time"><br>
    <input type="text" th:field="*{recipe.cost}" placeholder="Cost"><br>
    <input type="text" th:field="*{recipe.degree}" placeholder="Degree"><br>

<!--        <input type="text" th:each="item : ${note.ingredientList}">-->
<!--    <div th:each="item : ${note.ingredientList}">-->
<!--        <p th:text="${item.name}"></p>-->
<!--            <td>Id:<input type="text" th:value="|${item.quantity}|" placeholder="Ingredient name"/></td>-->
<!--            "|Name: ${itemStatus.name} |"-->
<!--            <td>Id:<input type="text" th:value="${}" placeholder="Ingredient name"/></td>-->
<!--            <td>name: <input type="text" th:value="${item.quantity}" placeholder="Quantity"/></td>-->
<!--            <td>name: <input type="text" th:value="${item.measure}" placeholder="Measure"/></td>-->
<!--            <input type="text" th:field="*{}" placeholder="Degree"><br>-->
<!--    <th:block th:text="*{item.ingredientList[__${itemStat}__].name}"></th:block>-->
<!--            <input type="text" th:field="*{ingredientList[__${item}__]}" th:value="name" placeholder="Name"><br>-->
<!--            <input type="text" th:field="${item.name}"  placeholder="Name"><br>-->

<!--        </input>-->
<!--    </div>-->

<!--    <input type="text" th:field="*{ingredientList.add(new Ingredient(ingredient.name) )}" placeholder="Description of preparation"><br>-->
    <input type="submit" th:value="Save">
</form>


</body>
</html>