<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>BIM</title>
</head>
<body>

<h2>BMI Calculator</h2>


<div class="container" >

<!--    <form class="list-inline" th:action="@{/bmi}" th:object="${operationModel}" th:method="post" >-->


<!--        <div class="form-group" >-->
<!--            <label class="control-label">Masa ciała:</label>-->
<!--            <input type="text" class="form-control" th:field="*{weight}" placeholder="Masa ciała"/>-->
<!--            <p th:if="${#fields.hasErrors('bodyweight')}" th:errors="*{weight}"/>-->
<!--        </div>-->
<!--        <div class="form-group" >-->
<!--            <label class="control-label">Wzrost:</label>-->
<!--            <input type="text" class="form-control" th:field="*{height}" placeholder="Masa ciała"/>-->
<!--            <p th:if="${#fields.hasErrors('bodyweight')}" th:errors="*{height}"/>-->
<!--        </div>-->
<!--        <div class="row">-->
<!--            <button type="submit" class="button">Oblicz</button>-->
<!--        </div>-->
<!--        <div>-->

<!--            <font size="4">-->

<!--                Wynik:</font> <span th:if="${result != null}" th:text="${result}"></span>-->

<!--        </div>-->
<!--    </form>-->
</div>
</body>
</html>