<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>BIM</title>
    <style>
        #container {
            width: 400px;
            margin-left: auto;
            margin-right: auto;
        }

        #logo {
            background-color: black;
            color: white;
            text-align: center;
            padding: 13px;
            width: 374px;
        }

        #work_space {
            float: left;
            background-color: lightgray;
            padding: 20px;
            text-align: center;
            width: 360px;
        }

    </style>

</head>
<body>
<div id="container">
    <div id="logo">
        <h2>BMI Calculator</h2>
    </div>
    <div id="work_space">

        <form th:action="@{/bmicount}" th:object="${operationModel}" th:method="post">
            <p>Weight [kg] <input type="text" th:field="*{weight}" placeholder="Weight"></p>
            <p>Height [cm] <input type="text" th:field="*{height}" placeholder="Height"></p>
            <input type="submit" th:value="Count">
        </form>
    </div>
</div>
</body>
</html>