<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:form="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <style>
        #container {
            width: 1000px;
            margin-left: auto;
            margin-right: auto;
        }  </style>

    <title>Your recipe</title>
</head>
<body>
<div id="container">
show your recipe

<table>

    <thead>
    <tr>
        <th>ID</th>
        <th> TITLE</th>
        <th> INGREDIENTS</th>
        <th> DESCRIPTION</th>
        <th>TIME</th>
        <th>COST</th>
        <th>DIFFICULTY</th>
        <div style="clear: both"></div>
    </tr>
    </thead>
    <tbody>
    <!--*******************************************************-->

    <tr>

        <td th:text="${recipe1.id}"></td>
        <td th:text="${recipe1.title}"></td>
        <td th:text="${recipe1.ingredientsList}"></td>
        <td th:text="${recipe1.descriptionOfPreparation}"></td>
        <td th:text="${recipe1.preparingTimeInMinutes}"></td>
        <td th:text="${recipe1.cost}"></td>
        <td th:text="${recipe1.degree}"></td>



    </tr>

    </tbody>
</table>
</div>

</body>

</html>